body {
	background-color: lightgrey;
}

.top-buffer{
	margin-top: 2em;
}

#welcome {
	border: none;
	padding-top: 24em;
	border-radius: 2em;
	<!--background-image: url(content/jumbotron.png);-->
}

#welcome row {
	
}

li {
	display: inline;
}

#about {
	border-bottom: 1px solid rgb(190, 187, 175);
	background-color: white;
	border-radius: 1em;
}

#about img {
	text-align: center;
}

#portfolio {
	border-bottom: 1px solid rgb(190, 187, 175);
	background-color: white;
	border-radius: 1em;
}

#portfolio p {
	
}

#hobbies {
	border-bottom: 1px solid rgb(190, 187, 175);
	background-color: white;
	border-radius: 1em;
}

#contact {
	border-bottom: 1px solid rgb(190, 187, 175);
	background-color: white;
	border-radius: 1em;
}